---
layout: archive
title: "📄Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<style>
  body {
      font-family: Arial, sans-serif;
      margin: 40px;
  }
  .publication {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;
  }
  .pub-image {
      width: 250px;
      height: auto;
      margin-right: 15px;
      border-radius: 5px;
  }
  .pub-info {
      max-width: 600px;
  }
  .title {
      font-size: 18px;
      font-weight: bold;
      color: #002e60;
  }
  .authors {
      font-size: 15px;
      color: #333;
  }
  .authors strong {
      font-weight: bold;
  }
  .venue {
      font-size: 15px;
      color: #000000;
      font-style: italic;
  }
  .links {
      margin-top: 5px;
  }
  .links a {
      text-decoration: none;
      color: #0056b3;
      margin-right: 10px;
      font-size: 14px;
  }
</style>
</head>
<body>
<br>
<br>




<div class="publication">
  <img class="pub-image" src="../images/paper/CoRL24_teaser.png" alt="Paper Image">
  <div class="pub-info">
    <a href="https://pred-agent.github.io/" target="new">
      <div class="title">Pre-emptive Action Revision by Environmental Feedback for Embodied Instruction Following Agents</div>
    </a>      
      <div class="authors"><strong>Jinyeon Kim*</strong>, Cheolhong Min*, Byeonghwi Kim, Jonghyun Choi</div>
      <div class="venue">CoRL 2024</div>
      <div class="links">
          <a href="https://openreview.net/pdf?id=cq2uB30uBM">[pdf]</a>
          <a href="https://github.com/snumprlab/pred">[code]</a>
      </div>
  </div>
</div>
<br>



<div class="publication">
  <img class="pub-image" src="../images/paper/ECCV24_teaser.png" alt="Paper Image">
  <div class="pub-info">
    <a href="../project/realfred/index.html" target="new">
      <div class="title">ReALFRED: An Embodied Instruction Following Benchmark in Photo-Realistic Environments</div>
    </a>  
      <div class="authors">Taewoong Kim*, Cheolhong Min*, Byeonghwi Kim, <strong>Jinyeon Kim</strong>, Wonje Jeung, Jonghyun Choi</div>
      <div class="venue">ECCV 2024</div>
      <div class="links">
          <a href="https://arxiv.org/pdf/2407.18550">[pdf]</a>
          <a href="https://github.com/snumprlab/realfred">[code]</a>
      </div>
  </div>
</div>
<br>



<div class="publication">
  <img class="pub-image" src="../images/paper/ICCV23_teaser.png" alt="Paper Image">
  <div class="pub-info">
    <a href="../project/CAPEAM/index.html" target="new">
      <div class="title">	Context-Aware Planning and Environment-Aware Memory for Instruction Following Embodied Agents</div>
    </a>
      <div class="authors">Byeonghwi Kim, <strong>Jinyeon Kim</strong>, Yuyeong Kim, Cheolhong Mim, Jonghyun Choi</div>
      <div class="venue">ICCV 2023</div>
      <div class="links">
          <a href="https://arxiv.org/pdf/2308.07241">[pdf]</a>
          <a href="https://github.com/snumprlab/capeam">[code]</a>
      </div>
  </div>
</div>
<br>





</body>